template.html {property: stylesheet.css}

#wrap {
	font-family: Baskerville, serif;
	width:800px;
	margin:0 auto;
	text-align:center;
}

#topimg {
	float:center;
	width:300px;
}

#navbar {
	color:#476B6B;
	float:center;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	position:fixed;
	/*width:750px;*/
}

#bar {
	background-color:#476B6B;
	height:10px;
	width:960px;
}

.black {
	color:black;
}
/*#sideimg {
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	overflow:auto;
}*/

.content {
	float:center;
	font-family:Baskerville, serif;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:500px;
}

