template.html {property: stylesheet.css}

#wrap {
	font-family: Baskerville, serif;
	width:800px;
	margin:0 auto;
	text-align:center;
	margin-bottom:40px;
}

#blogimage {
	margin-top:120px;
	margin-bottom:0px;
}

/*navigation bar formatting*/
nav {
	left:85px;
	position:fixed;
	top:0;
	margin-top:45px;
}

nav ul {
	background-color:#E6E6E6;
	border-radius:10px;
	font-weight:bold;
	list-style:none;
	padding:0 0;
	position:relative;
}

	nav ul:after {
		content: "";
		clear: both;
		display:block;
	}

	nav ul ul {
		display:none;
		border-radius: 0px;
		padding:0;
		position:absolute;
		top:100%;
	}

		nav ul ul li {
			float:none;
			position:relative;
		}

			nav ul ul li a {
				padding:6px;
				color:#476B6B;
				background-color:#E6E6E6;
			}

				nav ul ul li a:hover {
					background-color:#CEDEFF;
				}

	nav ul li {
		float:left;
	}

		nav ul li:hover > ul{
			display:block;
		}

			nav ul li:hover a {
				color:#85ADFF;
			}

		nav ul li a {
			display: block;
			padding: 5px 15px;
			color:#000000;
			text-decoration:none;
		}


#navbar {
	color:#476B6B;
	font-weight:bold;
	left:0;
	margin-left:70px;
	position:fixed;
	top:0;
}

h2 {
	left:60;
	bottom:0;
	margin-bottom:100px;
}

.black {
	color:black;
}

.content {
	float:center;
	font-family:Baskerville, serif;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:100px;
	text-align:left;
	width:500px;
}

.thesis {
	font-style:italic;
	font-weight:bold;
}

.quotation {
	width:400px;
	font-style:italic;
	font-weight:bold;
}

.postcode {
	background-color:#D6EBFF;
	padding:2px;
	width:200px;
}

.postimg {
	width:700px;
}

.shrinkimg {
	width:450px;
}
.postlink:link {
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.postlink:visited {
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.postlink:hover {
	font-weight:bold;
	color:#85ADFF;
}

.italicizehover {
	margin-bottom:100px;
}

.italicizehover:link {
	color:#000000;
	text-decoration:none;
}

.italicizehover:visited {
	color:#000000;
	text-decoration:none;
}

.italicizehover:hover {
	font-style:italic;
}


footer {
	height:40px;
	width:100%;
	background-color:black;
	position:fixed;
	bottom:0;
}

footer:before{
    width: 100%;
    height: inherit;
    display: block;
    background: black;
    content: "";
    position: fixed;
    left: 0;
    z-index: -1;
}

footer #social_icons {
	font-size:1.6em;
	text-align:center;
	display:inline-block;
	margin-left:630px;
}

footer #social_icons a {
	color:#ffffff;
	display:inline-block;
	margin-top:5px;
}

#twitter-icon {
	margin-right:4px;
}

#googleplus-icon {
	margin-right:10px;
}

#github-icon {
	margin-right:14px;
}

#linkedin-icon {
	margin-right:14px;
}