template.html {property: stylesheet.css}

#wrap {
	font-family: Baskerville, serif;
	width:800px;
	margin:0 auto;
	text-align:center;
	margin-bottom:20px;
}

.img-circular {
	width:300px;
	height:300px;
	background-image: url('http://media.tumblr.com/3bc7988bc1387ed66dd517067ba8d2cd/tumblr_inline_mihk67hbQ21qz4rgp.jpg');
	background-size:cover;
	display:block;
	border-radius:50%;
	margin-top:200px;
}

/*navigation bar formatting*/
nav {
	left:85px;
	position:fixed;
	top:0;
	margin-top:100px;
}

nav ul {
	background-color:#E6E6E6;
	border-radius:10px;
	font-weight:bold;
	list-style:none;
	padding:0 0;
	position:relative;
}

	nav ul:after {
		content: "";
		clear: both;
		display:block;
	}

	nav ul ul {
		display:none;
		border-radius: 0px;
		padding:0;
		position:absolute;
		top:100%;
	}

		nav ul ul li {
			float:none;
			position:relative;
		}

			nav ul ul li a {
				padding:6px;
				color:#476B6B;
				background-color:#E6E6E6;
			}

				nav ul ul li a:hover {
					background-color:#CEDEFF;
				}

	nav ul li {
		float:left;
	}

		nav ul li:hover > ul{
			display:block;
		}

			nav ul li:hover a {
				color:#85ADFF;
			}

		nav ul li a {
			display: block;
			padding: 5px 15px;
			color:#000000;
			text-decoration:none;
		}


#navbar {
	color:#476B6B;
	font-weight:bold;
	left:0;
	margin-left:70px;
	position:fixed;
	top:0;
}

h2 {
	left:60;
}

.black {
	color:black;
}

.content {
	float:center;
	font-family:Baskerville, serif;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
	text-align:left;
	width:500px;
}

.thesis {
	font-style:italic;
	font-weight:bold;
}

.quotation {
	width:400px;
	font-style:italic;
	font-weight:bold;
}

.postimg {
	width:700px;
}

.postlink:link {
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.postlink:visited {
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.postlink:hover {
	font-weight:bold;
	color:#85ADFF;
}

.italicizehover:link {
	color:#000000;
	text-decoration:none;
}

.italicizehover:visited {
	color:#000000;
	text-decoration:none;
}

.italicizehover:hover {
	font-style:italic;
}


footer {
	height:30px;
	width:100%;
	background-color:black;
	position:fixed;
	bottom:0;
}