dbc1.html { property: dbc1.css }

body {
	background-color:#99CCFF;
	font-family:Courier, monospace;
}

.header {
	font-weight:bold;
}

#h3italic {
	color:#990033;
	font-style:italic;
}

ul, ol {
	color:#6633FF;
}

p {
	color:#6633FF;
	font-family:Tahoma, sans-serif;
}









