dbc1.html { property: dbc1.css }

body {
	background-color: #99FFFF;
	font-family: Courier, monospace;
	font-style: normal;
}

/* Selectors: classes; */
<style>
.slateblue {
	color: SlateBlue;
}

/*Selectors: IDs; */
#h3 {
	color: #990033;
	font-style: italic;
}

#paragraph {
	font-family: Tahoma, sans-serif;
	color: #6699FF;
}
</style>


