dbc1.html { property: dbc1.css }

p {
	font-family: Palatino, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	'Arial Black', sans-serif;
}

body {
	background-color: silver;
}

/* Selectors: classes; */

.slateblue {
	color: SlateBlue;
}

/*.skyblue {
	color: SkyBlue;
}*/

/*Selectors: IDs; */
#h1, #h2, #h3, #h4, #h5, #h6 {
	font-weight: bolder;
}
