dbc2.html { property: dbc2.css }

body {
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/d/d6/Timeless_Books.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	font-family: "Arial Black";
}

body:before {
    content:"";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Width of Content+Sidebar, centered*/
#wrap {
	width:900px;
	margin:0 auto;
}

/*Header Box*/
#header {
	background-color:rgba(248,248,248, 0.5);
	border-color:#000000;
	border-style:solid;
	border-width:5px;
	height:150px;
	width:895px;
}

#headerContent {
	height:150px;
	margin: 0 auto;
	padding-left: 15px;
	width: 895px;
}

/*Content formatting*/
#content {
	float:right;
	height:450px;
	width: 580px;
}

.emphasis {
	color:#FF3300;
}

.explanation {
	font-family:Arial;
	font-weight:bold;
}

a.linkedpage:link, a.linkedpage:visited {
	color:#880000;
}

a.linkedpage:hover {
	color:#D00000;
}
/*Sidebar formatting*/
.imagecontainer {
	float:left;
	width:290px;
	margin-bottom:160px;
}

#image {
	position:absolute;
}

#caption {
	color:white;
	font-family:Arial;
	font-size:small;
	padding-left:27px;
	padding-top:118px;
	position:absolute;
}

#sidebar {
	background-color:rgba(0,0,0, 0.2);
	color:rgb(0,0,0);
	float: left;
	height:500px;
	margin-top:27px;
	width: 290px;
}

#sidebartext {
	font-size:small;
}
/*Footer formatting*/
footer {
	clear: both;
	bottom: 0;
	position:absolute;
	width:960px;
}

.citation {
	font-size:small;
}


